@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

.toaster [data-sonner-toast][data-type] {
  [data-action] {
    background: none;
    color: var(--color-typography-primary);
    text-decoration: underline;
    transition: 150ms;
    &:hover {
      color: var(--color-primary);
    }
  }
}

.toaster [data-sonner-toast][data-type="error"] {
  svg {
    color: var(--color-critical);
  }
}

.toaster [data-sonner-toast][data-type="info"] {
  svg {
    color: var(--color-info);
  }
}

.toaster [data-sonner-toast][data-type="warning"] {
  svg {
    color: var(--color-warn);
  }
}

.toaster [data-sonner-toast][data-type="success"] {
  svg {
    color: var(--color-positive);
  }
}

/* TAILWIND THEMES */
@theme {
  --color-primary: var(--primary);
  --color-primary-low: var(--primary-low);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);
  --color-primary-disabled: var(--primary-disabled);
  --color-primary-2: var(--primary-2);
  --color-primary-2-low: var(--primary-2-low);
  --color-primary-2-hover: var(--primary-2-hover);
  --color-primary-2-active: var(--primary-2-active);
  --color-primary-fore: var(--primary-fore);
  --color-primary-fore-disabled: var(--primary-fore-disabled);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-active: var(--secondary-active);
  --color-secondary-disabled: var(--secondary-disabled);
  --color-secondary-fore: var(--secondary-fore);
  --color-secondary-fore-disabled: var(--secondary-fore-disabled);
  --color-positive: var(--positive);
  --color-positive-hover: var(--positive-hover);
  --color-positive-active: var(--positive-active);
  --color-positive-low: var(--positive-low);
  --color-positive-disabled: var(--positive-disabled);
  --color-positive-fore: var(--positive-fore);
  --color-positive-fore-low: var(--positive-fore-low);
  --color-positive-fore-disabled: var(--positive-fore-disabled);
  --color-info: var(--info);
  --color-info-hover: var(--info-hover);
  --color-info-active: var(--info-active);
  --color-info-low: var(--info-low);
  --color-info-disabled: var(--info-disabled);
  --color-info-fore: var(--info-fore);
  --color-info-fore-low: var(--info-fore-low);
  --color-info-fore-disabled: var(--info-fore-disabled);
  --color-warn: var(--warn);
  --color-warn-hover: var(--warn-hover);
  --color-warn-active: var(--warn-active);
  --color-warn-low: var(--warn-low);
  --color-warn-disabled: var(--warn-disabled);
  --color-warn-fore: var(--warn-fore);
  --color-warn-fore-low: var(--warn-fore-low);
  --color-warn-fore-disabled: var(--warn-fore-disabled);
  --color-critical: var(--critical);
  --color-critical-hover: var(--critical-hover);
  --color-critical-active: var(--critical-active);
  --color-critical-low: var(--critical-low);
  --color-critical-disabled: var(--critical-disabled);
  --color-critical-fore: var(--critical-fore);
  --color-critical-fore-low: var(--critical-fore-low);
  --color-critical-fore-disabled: var(--critical-fore-disabled);
  --color-neutral: var(--neutral);
  --color-neutral-hover: var(--neutral-hover);
  --color-neutral-active: var(--neutral-active);
  --color-neutral-low: var(--neutral-low);
  --color-neutral-disabled: var(--neutral-disabled);
  --color-neutral-fore: var(--neutral-fore);
  --color-neutral-fore-low: var(--neutral-fore-low);
  --color-neutral-fore-disabled: var(--neutral-fore-disabled);
  --color-outline: var(--outline);
  --color-border: var(--border);
  --color-border-hover: var(--border-hover);
  --color-border-active: var(--border-active);
  --color-border-disabled: var(--border-disabled);
  --color-border-positive: var(--border-positive);
  --color-border-info: var(--border-info);
  --color-border-warn: var(--border-warn);
  --color-border-critical: var(--border-critical);
  --color-page: var(--page);
  --color-surface: var(--surface);
  --color-tabdock: var(--tabdock);
  --color-canvas: var(--canvas);
  --color-overlay: var(--overlay);
  --color-typography-primary: var(--typography-primary);
  --color-typography-secondary: var(--typography-secondary);
  --color-typography-tertiary: var(--typography-tertiary);
  --color-typography-link: var(--typography-link);
  --color-typography-positive: var(--typography-positive);
  --color-typography-info: var(--typography-info);
  --color-typography-warn: var(--typography-warn);
  --color-typography-critical: var(--typography-critical);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* TITLE */
@utility xxlarge-title {
  font-size: 64px;
  font-weight: var(--semi-bold);
}

@utility xlarge-title {
  font-size: 32px;
  font-weight: var(--semi-bold);
}

@utility large-title {
  font-size: 24px;
  font-weight: var(--semi-bold);
}

@utility medium-title {
  font-size: 20px;
  font-weight: var(--semi-bold);
}

@utility small-title {
  font-size: 16px;
  font-weight: var(--bold);
}

@utility xsmall-title {
  font-size: 14px;
  font-weight: var(--semi-bold);
}

/* BODY TEXT */
@utility large-body {
  font-size: 20px;
  font-weight: var(--regular);
}

@utility medium-body {
  font-size: 16px;
  font-weight: var(--regular);
}

@utility small-body {
  font-size: 14px;
  font-weight: var(--regular);
}

@utility xsmall-body {
  font-size: 12px;
  font-weight: var(--regular);
}

html,
body {
  @apply bg-page text-typography-primary medium-body;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* PRIMITIVES */
:root {
  --purple: rgba(95, 95, 250, 1);
  --purple-a15: rgba(95, 95, 250, 0.15);
  --purple-2: rgba(68, 68, 177, 1);
  --purple-3: rgba(45, 45, 118, 1);
  --purple-4: rgba(176, 132, 255, 1);
  --purple-4-a15: rgba(176, 132, 255, 0.25);
  --purple-5: rgba(125, 94, 181, 1);
  --purple-6: rgba(77, 58, 111, 1);
  --black: rgba(13, 13, 21, 1);
  --black-2: rgba(26, 26, 41, 1);
  --black-3: rgba(50, 50, 75, 1);
  --black-a85: rgba(13, 13, 21, 0.85);
  --black-a75: rgba(13, 13, 21, 0.75);
  --black-a50: rgba(13, 13, 21, 0.5);
  --black-a40: rgba(13, 13, 21, 0.4);
  --black-a35: rgba(13, 13, 21, 0.35);
  --black-a25: rgba(13, 13, 21, 0.25);
  --black-a15: rgba(13, 13, 21, 0.15);
  --black-a10: rgba(13, 13, 21, 0.1);
  --black-a5: rgba(13, 13, 21, 0.05);
  --white: rgba(255, 255, 255, 1);
  --white-2: rgba(237, 237, 245, 1);
  --white-3: rgba(218, 218, 228, 1);
  --white-a85: rgba(255, 255, 255, 0.85);
  --white-a75: rgba(255, 255, 255, 0.75);
  --white-a50: rgba(255, 255, 255, 0.5);
  --white-a35: rgba(255, 255, 255, 0.35);
  --white-a25: rgba(255, 255, 255, 0.25);
  --white-a15: rgba(255, 255, 255, 0.15);
  --white-a10: rgba(255, 255, 255, 0.1);
  --white-a5: rgba(255, 255, 255, 0.05);
  --red: rgba(254, 230, 230, 1);
  --red-2: rgba(255, 214, 216, 1);
  --red-3: rgba(255, 184, 187, 1);
  --red-4: rgba(255, 128, 136, 1);
  --red-5: rgba(253, 73, 88, 1);
  --red-6: rgba(219, 20, 44, 1);
  --red-7: rgba(182, 22, 41, 1);
  --red-8: rgba(145, 24, 38, 1);
  --red-9: rgba(114, 29, 39, 1);
  --red-10: rgba(80, 27, 33, 1);
  --green: rgba(221, 244, 221, 1);
  --green-2: rgba(195, 234, 196, 1);
  --green-3: rgba(159, 219, 160, 1);
  --green-4: rgba(97, 189, 98, 1);
  --green-5: rgba(54, 161, 56, 1);
  --green-6: rgba(0, 128, 9, 1);
  --green-7: rgba(9, 109, 17, 1);
  --green-8: rgba(16, 91, 22, 1);
  --green-9: rgba(22, 70, 26, 1);
  --green-10: rgba(19, 52, 22, 1);
  --blue: rgba(224, 239, 255, 1);
  --blue-2: rgba(204, 225, 255, 1);
  --blue-3: rgba(168, 204, 255, 1);
  --blue-4: rgba(107, 169, 255, 1);
  --blue-5: rgba(61, 139, 255, 1);
  --blue-6: rgba(26, 98, 255, 1);
  --blue-7: rgba(24, 84, 215, 1);
  --blue-8: rgba(24, 70, 170, 1);
  --blue-9: rgba(29, 59, 124, 1);
  --blue-10: rgba(24, 44, 89, 1);
  --yellow: rgba(255, 235, 214, 1);
  --yellow-2: rgba(255, 217, 173, 1);
  --yellow-3: rgba(253, 189, 104, 1);
  --yellow-4: rgba(236, 152, 9, 1);
  --yellow-5: rgba(209, 118, 0, 1);
  --yellow-6: rgba(173, 90, 0, 1);
  --yellow-7: rgba(148, 79, 5, 1);
  --yellow-8: rgba(117, 66, 11, 1);
  --yellow-9: rgba(86, 55, 21, 1);
  --yellow-10: rgba(62, 42, 20, 1);
  --regular: 400;
  --semi-bold: 500;
  --bold: 700;
  --radius: 0.625rem;

  /* LIGHT THEME */
  --primary: var(--purple);
  --primary-low: var(--purple-a15);
  --primary-hover: var(--purple-2);
  --primary-active: var(--purple-3);
  --primary-disabled: var(--black-a5);
  --primary-2: var(--purple-4);
  --primary-2-low: var(--purple-4-a15);
  --primary-2-hover: var(--purple-5);
  --primary-2-active: var(--purple-6);
  --primary-fore: var(--white);
  --primary-fore-disabled: var(--black-a35);
  --secondary: var(--black-a5);
  --secondary-hover: var(--black-a15);
  --secondary-active: var(--black-a35);
  --secondary-disabled: var(--white);
  --secondary-fore: var(--black);
  --secondary-fore-disabled: var(--black-a35);
  --positive: var(--green-5);
  --positive-hover: var(--green-6);
  --positive-active: var(--green-7);
  --positive-low: var(--green-2);
  --positive-disabled: var(--green);
  --positive-fore: var(--white);
  --positive-fore-low: var(--green-9);
  --positive-fore-disabled: var(--green-3);
  --info: var(--blue-5);
  --info-hover: var(--blue-6);
  --info-active: var(--blue-7);
  --info-low: var(--blue-2);
  --info-disabled: var(--blue);
  --info-fore: var(--white);
  --info-fore-low: var(--blue-9);
  --info-fore-disabled: var(--blue-3);
  --warn: var(--yellow-5);
  --warn-hover: var(--yellow-6);
  --warn-active: var(--yellow-7);
  --warn-low: var(--yellow-2);
  --warn-disabled: var(--yellow);
  --warn-fore: var(--white);
  --warn-fore-low: var(--yellow-9);
  --warn-fore-disabled: var(--yellow-3);
  --critical: var(--red-5);
  --critical-hover: var(--red-6);
  --critical-active: var(--red-7);
  --critical-low: var(--red-2);
  --critical-disabled: var(--red);
  --critical-fore: var(--white);
  --critical-fore-low: var(--red-9);
  --critical-fore-disabled: var(--red-3);
  --neutral: var(--black-a15);
  --neutral-hover: var(--black-a35);
  --neutral-active: var(--black-a15);
  --neutral-low: var(--black-a5);
  --neutral-disabled: var(--black-a15);
  --neutral-fore: var(--black);
  --neutral-fore-low: var(--black);
  --neutral-fore-disabled: var(--black-a35);
  --outline: var(--black);
  --border: var(--black-a15);
  --border-hover: var(--black-a35);
  --border-active: var(--purple);
  --border-disabled: var(--black-a15);
  --border-positive: var(--green-6);
  --border-info: var(--blue-6);
  --border-warn: var(--yellow-6);
  --border-critical: var(--red-6);
  --page: var(--white);
  --surface: var(--white);
  --tabdock: var(--white-2);
  --canvas: var(--white-3);
  --overlay: var(--black-a40);
  --typography-primary: var(--black);
  --typography-secondary: var(--black-a75);
  --typography-tertiary: var(--black-a50);
  --typography-link: var(--purple);
  --typography-positive: var(--green-5);
  --typography-info: var(--blue-5);
  --typography-warn: var(--yellow-5);
  --typography-critical: var(--red-5);
}

.dark {
  --primary: var(--purple);
  --primary-low: var(--purple-a15);
  --primary-hover: var(--purple-2);
  --primary-active: var(--purple-3);
  --primary-2: var(--purple-4);
  --primary-2-low: var(--purple-4-a15);
  --primary-2-hover: var(--purple-5);
  --primary-2-active: var(--purple-6);
  --primary-fore: var(--white);
  --primary-disabled: var(--white-a5);
  --primary-fore-disabled: var(--white-a35);
  --secondary: var(--white-a5);
  --secondary-hover: var(--white-a15);
  --secondary-active: var(--white-a10);
  --secondary-fore: var(--white);
  --secondary-disabled: var(--black);
  --secondary-fore-disabled: var(--white-a35);
  --positive: var(--green-5);
  --positive-hover: var(--green-6);
  --positive-active: var(--green-7);
  --positive-fore: var(--white);
  --positive-low: var(--green-9);
  --positive-fore-low: var(--green-2);
  --positive-disabled: var(--green-10);
  --positive-fore-disabled: var(--green-8);
  --info: var(--blue-5);
  --info-hover: var(--blue-6);
  --info-active: var(--blue-7);
  --info-fore: var(--white);
  --info-low: var(--blue-9);
  --info-fore-low: var(--blue-2);
  --info-disabled: var(--blue-10);
  --info-fore-disabled: var(--blue-8);
  --warn: var(--yellow-5);
  --warn-hover: var(--yellow-6);
  --warn-active: var(--yellow-7);
  --warn-fore: var(--white);
  --warn-low: var(--yellow-9);
  --warn-fore-low: var(--yellow-2);
  --warn-disabled: var(--yellow-10);
  --warn-fore-disabled: var(--yellow-8);
  --critical: var(--red-5);
  --critical-hover: var(--red-6);
  --critical-active: var(--red-7);
  --critical-fore: var(--white);
  --critical-low: var(--red-9);
  --critical-fore-low: var(--red-2);
  --critical-disabled: var(--red-10);
  --critical-fore-disabled: var(--red-8);
  --neutral: var(--white-a15);
  --neutral-hover: var(--white-a35);
  --neutral-active: var(--white-a15);
  --neutral-fore: var(--white);
  --neutral-low: var(--white-a5);
  --neutral-fore-low: var(--white);
  --neutral-disabled: var(--white-a15);
  --neutral-fore-disabled: var(--white-a35);
  --outline: var(--white);
  --border: var(--white-a15);
  --border-hover: var(--white-a35);
  --border-active: var(--purple);
  --border-disabled: var(--white-a15);
  --border-positive: var(--green-5);
  --border-info: var(--blue-5);
  --border-warn: var(--yellow-5);
  --border-critical: var(--red-5);
  --page: var(--black);
  --surface: var(--black);
  --tabdock: var(--black-2);
  --canvas: var(--black-3);
  --overlay: var(--black-a40);
  --typography-primary: var(--white);
  --typography-secondary: var(--white-a75);
  --typography-tertiary: var(--white-a50);
  --typography-link: var(--purple);
  --typography-positive: var(--green-5);
  --typography-info: var(--blue-5);
  --typography-warn: var(--yellow-5);
  --typography-critical: var(--red-5);
}
