name: Docker Production Image CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build and push Docker image
        run: |
          docker login --username MerryRosalie --password ${{ secrets.GH_PAT }} ghcr.io
          docker build . -t ghcr.io/merryrosalie/novagraph-prod:latest
          docker push ghcr.io/merryrosalie/novagraph-prod:latest
