name: Docker Production Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Docker image of Production
      run: docker build . --file Dockerfile -t novagraph-prod --target=production .
